<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
  <form th:method="POST" th:action="@{/}" th:object="${user}">
    <label for="firstName"> Firstname: </label>
    <input type="text" th:field="*{firstName}" id="firstName" />
    <br/>

    <label for="lastName"> Lastname: </label>
    <input type="text" th:field="*{lastName}" id="lastName" />
    <br/>

    <label for="gender"> Gender: </label>
    <input type="text" th:field="*{gender}" id="gender"/>
    <br/>

    <label for="nationality"> Nationality: </label>
    <input type="text" th:field="*{nationality}" id = "nationality"/>
    <br/>

    <input type = "submit" value = "Add new user"/>
  </form>
</body>
</html>